.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.results {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, #ffac3a 0%, #ff94bb 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.points{
  font-size: 22px;
}

.statistics-wrapper {
  width: 90%;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.statistics-block {
  width: 70%;
  height: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
}

.statistics-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightseagreen;
  width: calc(33.33% - 10px);
  height: 100%;
  background-image: linear-gradient(-45deg, #8031bd, #8E8E8E, #6ca0d0, #8031bd);
  background-size: 350%;
  color: black;
  margin-bottom: 10px;
}

.statistics-item > span{
    font-size: 35px;

}

.statistics-item > p{

}

.container > div {
  margin: 20px 0;
  text-align: center;
}

.container > div > p {
  margin: 5px 0;
}

@media (max-width: 480px) {
  .container > div {
    margin: 10px 0;
    height: 25%;
  }
}
