<div class="container">
  <div class="random-quiz">
    <button class="random-quiz-btn">I'm lucky</button>
  </div>
  <div class="quiz-list">
    <div class="quiz-list-item">
      <app-quiz-card></app-quiz-card>
      <app-quiz-card></app-quiz-card>
      <app-quiz-card></app-quiz-card>
      <app-quiz-card></app-quiz-card>
      <app-quiz-card></app-quiz-card>
      <app-quiz-card></app-quiz-card>
      <app-quiz-card></app-quiz-card>
      <app-quiz-card></app-quiz-card>
      <app-quiz-card></app-quiz-card>
      <app-quiz-card></app-quiz-card>
    </div>
  </div>
</div>
